h4{
    
    text-align: center;
    text-decoration: underline;
    padding-top: 20PX;
}
.name{
    text-align: right;
    padding-top: 20px;
    padding-right: 100px;
}
h5{
    background-color: cadetblue;
    font-style: bold;
}
p1{
    word-spacing:100px;
}
ul1{
    text-align: right;
    padding-right: 100px;
}
body{
    padding-left: 50px;
    padding-right: 50px;
}
